<div class="main">
@{

	 string[,] str = ViewData["args"] as string[,];
}
	
	@Html.Partial("top.cshtml")
	
	 <table id="tblToExcl">
	
	 @Html.Raw("<tr><th>Ime</th><th>Prezime</th><th>Adresa</th><th>Pozicija</th><th>Bruto plata</th></tr>")

	@{ 

	for(int x=0;x<str.GetLength(0);x++){
	
		
		@Html.Raw("<tr>")

		for(int y=0;y<str.GetLength(1);y++){
				
				<td><a href="/employees/details/@str[x,0]_@str[x,1]">@str[x,y]</a></td>

		}

		@Html.Raw("</tr>")
	
	}
	

	 }
	
	 </table>

	

</div>
	<link rel="stylesheet" href="/css/index.css">
	
	




